* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  justify-content: center;
  margin: auto;
  background-color: #dfdfdf;
}

.box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  color: #333;
}
.box p {
  border: 3px solid white;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0);
}
.box p:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 50% 20% / 10% 40%;
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: small;
  }
  .box {
    display: grid;
    grid-template-columns: auto;
    gap: 0;
  }
  .box p {
    width: 300px;
  }
  * {
    font-size: small;
  }
}
