:root {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s all;
  font-family: "Courier New", Courier, monospace;
}
::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1,
p {
  text-align: center;
  font-weight: bold;
  color: #333;
}

h1 {
  padding-bottom: 30px;
}
p {
  text-align: center;
  font-weight: bold;
  color: #333;
}
.goBackBtn {
  margin: 20px auto;
  font-size: large;
  padding: 1em;
  border: 3px solid #333;
}
.goBackBtn:hover {
  border-radius: 50% 20% / 10% 40%;
}

.box p {
  border: 2px solid rgb(255, 255, 255);
  color: #333;
  padding: 10px;
  margin: auto;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
  margin: auto;
}

form input {
  border: 3px solid #6f4e37;
  color: #ffffff;
  background-color: #464646;
  padding: 1em;
  height: auto;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 2px #6f4e37;
}

form textarea {
  border: 3px solid #6f4e37;
  color: #ffffff;
  background-color: #464646;
  width: 100%;
  height: 125px;
  border-radius: 5px;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 2px #6f4e37;
}
form button {
  border: 3px solid #ffffff00;
  color: #cacaca;
  padding: 1em;
  background-color: #6f4e37;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 0 2px #6f4e37;
}

form input:hover {
  border: 3px solid #000000;
  color: #333;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 25px white;
}
form textarea:hover {
  border: 3px solid #000000;
  color: #333;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 25px white;
}
form button:hover {
  border: 3px solid #000000;
  color: #333;
  background-color: rgb(255, 255, 255);
  text-decoration: underline;
  box-shadow: 0 0 25px white;
}
.boxTables {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
table {
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 30px auto;
}

th {
  background-color: aliceblue;
}

th,
td {
  border: 2px solid #333;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  form input {
    font-size: small;
    width: 300px;
    margin: auto;
  }
  form textarea {
    font-size: small;
    width: 300px;
    margin: auto;
  }
  form button {
    width: 300px;
    margin: auto;
    font-size: small;
  }
  p:last-child {
    width: 300px;
    margin: 20px auto;
    font-size: small;
  }
  .boxTables {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
