.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-size: large;
  gap: 20px;
  margin: auto;
}

.footer ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-decoration: none;
  gap: 10px;
}

.footer ul li {
  padding: 0.5em;
  text-transform: uppercase;
}

.footer a {
  color: #333;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.footer a:hover {
  color: #333;
  border-bottom: 3px solid white;
}

@media screen and (max-width: 1000px) {
  .footer {
    flex-direction: column;
    padding: 1em;
    gap: 0px;
    font-size: smaller;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
  }
  .footer ul {
    display: grid;
    grid-template-columns: auto auto; 
    padding: 0px;
    justify-content: center;
  }
  .footer ul li {
   
    padding: 30px;
    margin: 0px;
    height: 30px;
    margin: auto;
  }
  .footer a {
    font-size: smaller;
    padding: 0px;
  }
}
